* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
}

section {
  outline: 1px solid grey;
}

.image-container {
  width: 40%;
  background-image: url('../../assets/joel-filipe-QwoNAhbmLLo-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: cover center;

  header {
    margin-top: 9rem;
    padding: 1rem;
    background-color: rgba($color: #000000, $alpha: 0.4);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 8rem;
    }

    h1 {
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      font-size: 4rem;
      font-weight: normal;
    }
  }
}

.content-container {
  width: 60%;
  background-color: #f8f8f8;

  header {
    padding: 6rem 2rem 3rem 2rem;

    p {
      font-size: 1.5rem;
      font-weight: 300;
      margin-bottom: 1rem;
    }
  }

  form {
    .input-container {
      background-color: #fff;
      padding: 1rem 2rem;
      box-shadow: 0 0.2rem 0.5rem #ddd;

      h2 {
        width: 100%;
        font-weight: normal;
      }

      .inputs {
        margin: 1rem 0;
        display: flex;
        flex-wrap: wrap;
        column-gap: 4rem;
        row-gap: 1rem;

        div {
          display: flex;
          flex-direction: column;
          gap: 0.1rem;

          label {
            text-transform: uppercase;
            font-size: 0.6rem;
            letter-spacing: 0.1rem;
          }

          input {
            font-size: 1rem;
            padding: 0.25rem 0.5rem;
            border: 1px solid #bbb;
            border-radius: 0.3rem;
            width: 15rem;
            transition: all 0.1s ease-in-out;

            &:focus {
              outline: none;
              border: 1px solid #777;
              box-shadow: 0.1rem 0.1rem 0.3rem #999;
            }
          }
        }
      }
    }
    .submission-container {
      padding: 2rem;

      button {
        color: #ddd;
        background-color: #5d4157;
        padding: 1rem 3rem;
        text-transform: capitalize;
        font-size: 1rem;
        border: none;
        border-radius: 0.3rem;
        box-shadow: 0.1rem 0.1rem 0.3rem #999;
        transition: all 0.15s ease-in-out;

        &:hover {
          cursor: pointer;
          color: #fff;
        }
      }

      p {
        margin-top: 2rem;

        a {
          color: #5d4157;
          font-weight: bold;
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
