@font-face {
  font-family: Norse;
  font-weight: bold;
  src: url('../../assets/Norse-Bold.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
}

section {
  outline: 1px solid grey;
}

.image-container {
  width: 40%;
  background-image: url('../../assets/joel-filipe-QwoNAhbmLLo-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  header {
    margin-top: 9rem;
    padding: 1rem;
    background-color: rgba($color: #000000, $alpha: 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: clamp(5rem, 10vw, 8rem);
    }

    h1 {
      font-family: Norse;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      font-size: clamp(5rem, 7vw, 8rem);
      font-weight: normal;
      padding-top: 1.5rem;
    }
  }

  footer {
    padding: 1rem;
    margin: 0 auto;
    color: #ddd;
    font-size: 0.65rem;

    a {
      color: #ddd;
    }
  }
}

.content-container {
  width: 60%;
  background-color: #f8f8f8;

  header {
    padding: 7rem 2rem 2rem 2rem;

    p {
      font-size: clamp(1.1rem, 2vw, 1.5rem);
      font-weight: 300;
      margin-bottom: 2rem;
    }
  }

  form {
    .input-container {
      background-color: #fff;
      padding: 1rem 2rem;
      box-shadow: 0 0.2rem 0.5rem #ddd;

      h2 {
        width: 100%;
        font-weight: normal;
      }

      .inputs {
        max-width: 600px;
        margin: 1rem 0;
        display: flex;
        flex-wrap: wrap;
        column-gap: 4rem;
        row-gap: 2rem;

        div {
          display: flex;
          flex-direction: column;
          gap: 0.1rem;

          label {
            text-transform: uppercase;
            font-size: 0.75rem;
            letter-spacing: 0.1rem;
          }

          input {
            font-size: 1.25rem;
            padding: 0.25rem 0.5rem;
            border: 1px solid #bbb;
            border-radius: 0.3rem;
            width: 15rem;
            transition: all 0.1s ease-in-out;

            &:focus {
              outline: none;
              border: 1px solid rgb(0, 60, 255);
              box-shadow: 0.1rem 0.1rem 0.3rem #999;
            }
          }

          &.invalid {
            input {
              background-color: rgb(255, 209, 209);

              &:focus {
                border: 1px solid rgb(255, 0, 0);
              }
            }
          }
        }
      }
    }
    .submission-container {
      padding: 2rem;

      button {
        color: #fff;
        background-color: #5d4157;
        padding: 1rem 3rem;
        text-transform: capitalize;
        font-size: 1rem;
        border: none;
        border-radius: 0.3rem;
        box-shadow: 0.1rem 0.1rem 0.3rem #999;
        transition: all 0.15s ease-in-out;

        &:hover {
          cursor: pointer;
          color: #eee;
        }
      }

      p {
        margin-top: 2rem;

        a {
          color: #5d4157;
          font-weight: bold;
          text-decoration: none;

          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
